/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-size: 20px;
  color: #1c304a;
  text-align: center;
  line-height: 1.5;
}

h1, h2, h3{
font-family: 'Raleway',
sans-serif;
}

p{
  font-family: 'Merriweather Sans', sans-serif;
}

footer {
  padding: 1% 0;
  background-color: #b8c6c6;
  color: white;
}

.info{
    padding: 1% 0;
    background-color: #b8c6c6;
    color: #1c304a;
    ;

}

header {
  padding: 12% 0 8% 0;
  background: #b8c6c6;
}

/* section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
} */


section:nth-child(even) {
  background-color: #ddd;
}


/* nav bar */

a {
  color: #1c304a;
}

/* nav */

.nav {
  background-color: #b8c6c6;
  color: #1c304a;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  font-family: 'Merriweather Sans', sans-serif;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
   background-color: #b8c6c6;
   color: #1c304a;
}

.nav li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #b8c6c6;
  text-decoration: none;
}

.nav li a:hover,
.nav .menu-btn:hover {
  background-color: #b8c6c6;
  color:#eee;
}

.nav .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav .menu-icon .navicon:before {
  top: 5px;
}

.nav .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav .menu-btn {
  display: none;
}

.nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .nav li {
    float: left;
  }
  .nav li a {
    padding: 20px 30px;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav .menu-icon {
    display: none;
  }
}

/* end nav bar */

/* Feature and image*/
/* small screen */
/* @media screen and (max-width: 360px;) { */
.feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px auto;
  

}

  .feature .image img {
    width: 100%;
  }

    .feature .image {
      width: 100%;
    }



.feature.left {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.feature.right {
  display: flex;
  flex-direction: column;
  width: 80%;
}

  .image2 {
    display: none;
  }

/* tablet - medium screens */

@media screen and (min-width: 736px) {

  .feature{
    margin: 50px auto;
  }
  .feature.left {
    display: flex;
    flex-direction: row;
  }

  .feature.right {
    display: flex;
    flex-direction: row-reverse;
  }


.feature .image {
  width: 100%;
}

.feature .image img {
  max-width: 100%;
}

.feature .content {
  padding: 2em 3em 0.1em 3em;
  width: 52%;
}

} 

		@media screen and (max-width: 980px) {

		  .feature.left,
		  .feature.right {
		    flex-direction: column;
		  }

		  .feature .image {
		    width: 100%;
		  }

		  .feature .image img {
		    width: 100%;
		  }

		  .feature .content {
		    padding: 2em 2em 0.1em 2em;
		    width: 100%;
		  }

		}


.feature {
  background-color: white;
  font-size: 16px;
  line-height: 26px;
  border-radius: 10px;
  
  
}
.feature .image{
  padding: 20px;
}

.feature p{
text-align: justify;
padding: 20px;
}

.feature button{
  margin: 20px;
}

.inner{
  border: 1px solid rgb(228, 218, 218);
  /* background-color:#f9f7f3; */
  background-color: rgb(228, 218, 218);
}

button{
  border-radius: 10px;
  padding: 5px 10px;
}

.icons{
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content:center;
}
.icons li{
  padding: 10px;
  list-style:none;
 
}
