* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  color: #1c304a;
  text-align: center;
  line-height: 1.5;
}

h1, h2, h3{
font-family: 'Raleway',
sans-serif;
}

p{
  font-family: 'Merriweather Sans', sans-serif;
  text-align: justify;
  font-size: 16px;
}

footer {
  padding: 1% 0;
  background-color: #b8c6c6;
  color: white;
}

.info{
    padding: 1% 0;
    background-color: #b8c6c6;
    color: #1c304a;
    ;

}


header h1{
  width:auto;
}

/* nav bar */

nav a {
  color: #1c304a;
}

/* nav */

.nav {
  background-color: #b8c6c6;
  color: #1c304a;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  font-family: 'Merriweather Sans', sans-serif;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
   background-color: #b8c6c6;
   color: #1c304a;
}

.nav li a {
  display: block;
  padding: 10px 10px;
  border-right: 1px solid #b8c6c6;
  text-decoration: none;
}

.nav li a:hover,
.nav .menu-btn:hover {
  background-color: #1c304a;
  color:#eee;
}

/* menu */

.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float:right;
  padding: 20px 20px;
  position: relative;
  user-select: none;
}

.nav .menu-icon .navicon {
  background: #1c304a;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
  background: #1c304a;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .3s ease-out;
  width: 100%;
}

.nav .menu-icon .navicon:before {
  top: 5px;
}

.nav .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav .menu-btn {
  display: none;
}
.nav .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


#banner {
  padding: 70px 0 10px 0;
  background-attachment: fixed;
  background-color:  #b8c6c6; 
  background-size: cover;
  text-align: center;
  color: #1c304a;
  /* height: 100vh; */
}



  /* down arrow from banner pulsates  */

 .page-scroll .btn-circle i.animated {
  
  transition-duration: 1s;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
}

.page-scroll .btn-circle:hover i.animated {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


.btn-circle {
  width: 90px;
  height: 90px;
  border-radius: 60px;
  font-size: 40px;
  color: #1c304a;
  transition: background .4s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}


/* small screens */


.logo {
  float: left;
  padding: 5px 10px;
  clear: none;
  text-decoration: none;
}

.banner{
  height: 100vh;
  
}

.banner-text{
/* padding-top: 30%; */
padding: 30% 20%;
}
.tape-img{
  padding-top: 5%;
  width: 100px;
  height: auto;
}

.feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto; 
  background-color: white;
  border-radius: 10px;
}

.feature .image img {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.feature .image {
  width: 300px;
  height: auto;
}

.feature.left {
  display: flex;
  flex-direction: column;
}

.feature.right {
  display: flex;
  flex-direction: column;
}

.feature .content {
  width: 100%;
  padding: 20px;
}

.inner{
  background-color:#f9f7f3;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
} 

@media screen and (min-width: 768px){

  /* nav bar */
  .nav li {
    float: left;
  }
  .logo{
    float: left;
    padding: 20px 30px;
    clear: none;
    text-decoration: none;
  }
  .nav li a {
    padding: 20px 30px;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav .menu-icon {
    display: none;
  }



    .banner {
      height: 100%;
    }

    .banner-text {
      padding-top: 10%;
 
    }

  /* feature */
  .feature{
    margin: 50px auto;
    margin-bottom: 60px;
    padding: 20px;
  }
  .feature.left {
    display: flex;
    flex-direction: row;
  }

  .feature.right {
    display: flex;
    flex-direction: row-reverse;
  }

  .feature .image {
    width: 48%;
  }
  
  .feature .image img {
    max-width: 100%;
  }
  
  .feature .content {
    width: 52%;
  }

  .inner{
    background-color:#f9f7f3;
    margin-left:100px;
    margin-right: 100px; 
    padding-bottom: 20px;
  } 
  
}


/* style the buttons */

button{
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.demo, .code, .resume {
  font-size: 16px;
  font-weight: 600px;
  height: 40px;
  width: 110px;
  box-shadow: 0 6px #b8c6c6;
  text-decoration: none;
  background: hsl(180, 16%, 65%);
  transition: none;
  color: #fff;
  border-radius: 5px;
  border: 1px #ab3c3c;
  
}

.btn {
  border-radius: 20px;
}

.btn:hover {
  box-shadow: 0 4px #b8c6c6;
  top: 2px;
}

.btn:active {
  box-shadow: 0 0 #b8c6c6;
  color:#f9f7f3;
  top: 6px;
}

.icons{
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content:center;

}

.icons a{
  color: #1c304a; 
  text-decoration: none;
}
.icons li{
  padding: 10px;
  list-style:none;
}

.tape-img{
  margin-top: 20px;
}
.logo-tape h4{
  margin: 0%;
}

.logo-tape{
  margin: 0%;
  background-color: #f8f8f8
}

.wrapper{
   background-color: #f8f8f8;
}

.languages{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0%;
}
.languages li img{
  width: 30px;
  margin: 20px;
}

button a{
  color: white; 
  text-decoration: none;
}

